//Variables
//Color Variables

$white: #fff;
$black: #000;
$grey: #E5E5E5;
$greylight: #D7D2CB;
$greymedium: #9E9E9E;
$greydark: #7D7D7D;
$bluelight: #80B7E8;
$bluemedium: #4E98DE;
$bluedark: #2169B0;
$bluedeep: #032D57;
$yellow: #F5B30C;

//Font Variables

$arvo:"Arvo-Regular";
 $arvobold:"Arvo-Bold";
 $goudy:"GoudyBookletter1911";
 $oswald:"Oswald-Regular";
 $oswaldlight:"Oswald-Light";
 $wellfleet:"Wellfleet-Regular";


//Document Variables
$base-border: 4px solid $black;
$base-border-radius: 5px;
$small-border-radius: 10px;
$medium-border-radius: 20px;
$large-border-radius: 60px;
$button-border-radius: 18px;
$circle-small:15px;
$circle-medium:40px;
$circle-large:60px;
//$featured-width: 922px;
//$featured-height: 324px;