#canvas-banner {
	position: absolute;
	left:-5px;
	font-family: 'Archivo Black', 'sans-serif';
	opacity: 0.2;
	z-index: 40;
}

.wrapper {
	position: absolute;
    margin-top: 0;
    border: none;
	width: 100%;
    height: 338px;
   /* background: transparent url("../../img/type2.png") 0 0;*/
    background: $yellow;

    text-align: center;
}


.loading {
	position: absolute;
	z-index: 999;
	text-indent: -9000px;
	opacity: 0.6;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
    margin: -25px 0px 0px -25px;
	background: #000 url("../../img/ajaxloader.gif") no-repeat center center;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
/*source: http://tympanus.net/codrops/2011/11/09/interactive-html5-typography/;*/